.App-Container {
  display: flex;
  height: calc(85vh);
  align-items: center;
  background-image: url();
}

.Header {
  margin-left: 10px;
  color: #3B6D6E;
  flex: 1;
  background: white;
  padding: 10px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.Header > h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
}

.Header > button {
  background: #3B6D6E;
  color: white;
  font-size: larger;
  font-weight: 900;
  padding: 5px 10px;
  border: none;
  margin:auto;
}

.Header > button:hover {
  cursor: pointer;
}

.Header-Spacer {
  flex: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.Icon-Header {
  text-align: center;
  font-weight: 900;
  font-size: xx-large;
}

.Icon-Container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.Icon {
  border-radius: 50%;
  margin-left: 20px;
  margin-right: 20px;
}

.Icon-Body {
  font-size: larger;
  margin-left: 10%;
  margin-right: 10%;
}

.Contact {
  font-weight: 900;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 2.5em;

  padding-bottom: 40px;
  border-bottom: 0.1em dashed #3B6D6E;
}

.Accent-Color {
  color: #3B6D6E;
}

.Header-Spacer > img {
  border-radius: 1em;
}

/*    SECTION    */
.Section-Container {
  display: flex;
  height: 70vh;
}

.Section-Header {
  font-weight: 900;
  font-size: xx-large;
  text-align: center;
}

.Section-Paragraph {
  margin-left: 10%;
  margin-right: 10%;
  font-size: large;
}

.Section-Element {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
}

/* Quote */
.Quote-Container {
  display: flex;
  height: 30vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Quote-Container > h1 {
  background: white;
  padding: 10px;
  padding-left: 20px;
  padding-bottom: 20px;
  color: #3B6D6E;
}

.Quote-Main {
  font-weight: 900;
}